.tangram-container {
  display: flex;
  flex-wrap: wrap;
}

.tangram-piece {
  margin: 50px;
  width: 0px;
  height: 0px;
  border-style: solid;
}

.square {
  background-color: coral;
  border: none;
  height: calc(2 * var(--base-piece-size));
  width: calc(2 * var(--base-piece-size));
}

.small-triangle {
  border-width: var(--base-piece-size);
  border-color: blueviolet blueviolet transparent transparent;
}

.medium-triangle {
  border-width: calc(2 * var(--base-piece-size));
  border-color: green transparent transparent transparent;
}

.big-triangle {
  border-width: calc(2 * var(--base-piece-size));
  border-color: red red transparent transparent;
}

.parallelogram {
  display: flex;
  border: none;
}
.parallelogram::before,
.parallelogram::after,
.parallelogram-triangle {
  content: "";
  border-width: var(--base-piece-size);
  border-style: solid;
}

.parallelogram::before,
.parallelogram-triangle-1 {
  border-color: orange orange transparent transparent;
}
.parallelogram::after,
.parallelogram-triangle-2 {
  border-color: transparent transparent orange orange;
}
